@import './../../sass/abstracts/variables.scss';

.results {
    background-color: $color-dark;
    color: $color-white;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid $color-gray-light;
    }

    &__warning {
        text-align: center;
        font-size: 4rem;
    }
}