@import './../../sass/abstracts/variables.scss';

.movie-card {
    width: 300px;
    margin: 0 25px 30px;

    &__image {
        margin-bottom: 15px;
        width: 300px;
        height: 460px;
        object-fit: fill;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        margin-top: 0;
    }

    &__release-date {
        padding: 5px 10px;
        border: 1px solid $color-gray-light;
        border-radius: 3px;
    }
}