@import './../../sass/abstracts/variables.scss';

.search {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 120px;

    &__title {
        margin: 40px 0;
        font-weight: 500;
        color: $color-white;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
    }

    &__input {
        flex-grow: 1;
        margin-right: 10px;
        border-radius: 5px;
        padding: 18px;
        background-color: $color-gray;
        border: 1px solid $color-gray;
        color: $color-white;
    }

    &__button {
        width: 220px;
        padding: 18px;
        border: none;
        border-radius: 5px;
        background-color: $color-primary;
        color: $color-white;
        text-transform: uppercase;
    }
}