@import '../../sass/abstracts/variables.scss';

.form {
    &__title {
        text-transform: uppercase;
        font-weight: 400;
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__input {
        border-radius: 5px;
        padding: 18px;
        background-color: rgba($color-gray, 0.8);
        border: 1px solid $color-gray;
        color: $color-white;
    }

    &__label {
        margin-bottom: 15px;
        text-transform: uppercase;
        color: $color-primary;
        font-weight: 700;
    }

    &__select {
        border-radius: 5px;
        padding: 18px;
        background-color: rgba($color-gray, 0.8);
        border: 1px solid $color-gray;
        color: $color-white;
    }

    &__buttons {
        margin-right: -10px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    &__button {
        min-width: 180px;
        margin: 10px;
        padding: 16px;
        border: none;
        border-radius: 5px;
        background-color: rgba($color-gray-light, 0.8);
        text-transform: uppercase;
        

        &--reset {
            border: 1px solid $color-primary;
            background-color: transparent;
            color: $color-primary;
        }

        &--submit {
            border: 1px solid $color-primary;
            background-color: $color-primary;
            color: $color-white
        }
    }
}
